.main-button {
  background-color: $primary-accent-color;
  color: white;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 0.5em;
  font-weight: 700;
  margin: 0;
  max-height: 2.5em;
}

.text-button {
  background: none;
  color: $secondary-text-color;
  outline: none;
  border: none;
  font-size: small;
  padding: 0;
  &:hover {
    color: $text-color;
  }
}

.downvote-button {
  background-color: $primary-accent-color;
  color: black;
  border-radius: 7px;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 0.3em 0.6em;
  font-weight: 700;
  margin-right: 0.2em;
  margin-bottom: 0.15em;
}

.upvote-button {
  background-color: $third-accent-color;
  color: black;
  border-radius: 7px;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 0.3em 0.6em;
  font-weight: 700;
  margin-right: 0.2em;
  margin-bottom: 0.15em;
}
