input {
  background-color: $tertiary-background-color;
  border: none;
  outline: none;
  margin-bottom: 0.5em;
  border-radius: 10px;
  color: $text-color;
  padding: 0.5em;
}
textarea {
  background-color: $secondary-background-color;
  border: none;
  outline: none;
  border-radius: 10px;
  color: $text-color;
  padding: 0.5em;
  resize: none;
}
