$primary-background-color: #090d12;
$secondary-background-color: rgb(23, 27, 33);

$text-color: white;
$secondary-text-color: rgba(255, 255, 255, 0.699);

$primary-accent-color: #fd4d4c;
$secondary-accent-color: #f0e1cd;
$third-accent-color: #4efdc3;
$accent-color-4: #4efdfd;

$body-bg: $primary-background-color;
$color: white;

$theme-colors: (
  "primary": $primary-accent-color,
  "secondary": $secondary-background-color,
  "warning": $secondary-accent-color,
  "dark": $primary-background-color,
);
