$primary-background-color: #090d12;
$seconday-background-color: rgb(23, 27, 33);

$text-color: white;
$primary-accent-color: #fd4d4c;
$secondary-accent-color: #f0e1cd;

$body-bg: $primary-background-color;
$color: white;

$theme-colors: (
  "primary": $primary-accent-color,
);
